<h1>New Profile Account</h1>

<%= form_for @profile, url: profiles_path do |f| %>
	<% if @profile.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
	  	<ul>
	  	<% @profile.errors.full_messages.each do |message| %>
	  		<li><%= message %></li>
	  		<% end %>
	  	</ul>
	  </div>
	<% end %>
	<p>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :picture %>
		<%= f.file_field :picture%>
	</p>
	<p>
		<%= f.submit "Let's go!", :class => 'btn btn-primary' %>
	</p>
<% end %>
